<?xml version="1.0"?>
<config>
    <modules>
        <C3_RememberSettings>
            <version>1.0.0</version>
        </C3_RememberSettings>
    </modules>
    <global>
        <models>
            <c3_remembersettings>
                <class>C3_RememberSettings_Model</class>
            </c3_remembersettings>
            <admin>
                <rewrite>
                    <user>C3_RememberSettings_Model_Admin_User</user>
                </rewrite>
            </admin>
        </models>
        <helpers>
            <c3_remembersettings>
                <class>C3_RememberSettings_Helper</class>
            </c3_remembersettings>
        </helpers>
    </global>
    <adminhtml>
        <events>
            <controller_action_predispatch_adminhtml>
                <observers>
                    <c3_ordertypefilter>
                        <type>singleton</type>
                        <class>c3_remembersettings/admin_observer</class>
                        <method>loadGridPreferences</method>
                    </c3_ordertypefilter>
                </observers>
            </controller_action_predispatch_adminhtml>
            <controller_action_postdispatch_adminhtml>
                <observers>
                    <c3_ordertypefilter>
                        <type>singleton</type>
                        <class>c3_remembersettings/admin_observer</class>
                        <method>saveGridPreferences</method>
                    </c3_ordertypefilter>
                </observers>
            </controller_action_postdispatch_adminhtml>
        </events>
    </adminhtml>
    <default>
        <c3_remembersettings>
            <options>
                <grid_keys>sort,dir,filter,limit</grid_keys>
            </options>
        </c3_remembersettings>
    </default>
</config>